body {
	font-family: Poppins;
	margin: 0;
	padding-bottom: 100px;
	/* width: fit-content; */
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

.header {
	display: flex;
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 81px;
	margin-left: 160px;
	font-weight: 500;
	width: 580px;
}

a {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}

.contact {
	color: #98be1d;
}

.shurilogo {
	width: 89px;
	height: 80px;
	margin-top: 55px;
	margin-left: 150px;
}

main {
	display: flex;
}

.form-section {
	margin-top: 70px;
	margin-left: 130px;
	position: relative;
}

.plus {
	width: 115px;
	position: absolute;
	top: 15px;
	left: -125px;
	transform: rotateX(180deg);
}

.form-section p {
	margin: 0;
	font-size: 20px;
	font-weight: 500;
	color: rgba(89, 93, 122, 1);
}

.form-section h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 32px;
	font-weight: 900;
	color: rgba(48, 48, 48, 1);
}

form {
	width: 530px;
	/* background-color: #5e6282; */
}

.form1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
}

.form1 label {
	font-size: 16px;
	font-weight: 500;
	color: rgba(63, 65, 82, 1);
	margin-left: 5px;
}

input[type="text"] {
	font-family: Poppins;
	font-size: 13px;
	font-weight: 400;
	color: rgba(89, 93, 122, 0.71);
	padding: 20px 25px;
	width: 100%;
	border-radius: 9px;
	border: 1px solid rgba(212, 213, 221, 1);
	margin-top: 10px;
	margin-bottom: 20px;
}

input[type="text"]:focus {
	outline: none;
}

.phone {
	position: relative;
}

.phone input {
	padding: 20px 80px;
	background-image: url(../drop-down-arrow.svg);
	background-repeat: no-repeat;
	background-position: 55px 22px;
}

.phone label[for="rw"] {
	position: absolute;
	top: 53px;
	left: 22px;
}

option[disabled] {
	color: rgba(203, 203, 209, 0.17);
}

select {
	position: absolute;
	top: 55px;
	left: 55px;
	appearance: none;
	background: transparent;
	opacity: calc(0);
	width: 15px;
	font-family: Poppins;
}

.input-calendar input {
	background-image: url(../html/tours-html/Tour-request/pictures/svgs/small-calendar.svg);
	background-repeat: no-repeat;
	background-position: 90% 18px;
}

label {
	font-size: 16px;
	font-weight: 500;
	color: rgba(63, 65, 82, 1);
}

textarea {
	margin-top: 5px;
	resize: none;
	border-radius: 10px;
	border: 1px solid rgba(212, 213, 221, 1);
}

button {
	margin-top: 18px;
	width: 100%;
	color: white;
	background-color: #98be1d;
	border-style: none;
	border-radius: 12px;
	padding: 25px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}

.img-section {
	position: relative;
	margin-top: 85px;
	margin-left: 95px;
}

.coffee-guy-img {
	width: 515px;
	height: 910px;
	object-fit: cover;
	transform: rotateY(180deg);
	border-radius: 10px;
}

.tooltip-container1 {
	background-color: white;
	border-radius: 20px;
	box-shadow: -5px 1px 45px rgba(89, 93, 122, 0.1);
	width: 270px;
	line-height: 25px;
	position: absolute;
	bottom: 260px;
	left: -30px;
	padding-left: 2px;
	padding: 40px 35px;
}

.tooltip-container1 p {
	font-size: 13px;
	font-weight: 500;
	color: rgba(89, 93, 122, 1);
}

.tooltip-container1 p span {
	font-weight: 700;
}

.footer {
	margin-top: 2000px;
	margin-left: 50px;
}

.shuriinfo {
	margin-top: 70px;
	margin-left: 180px;
	display: grid;
	grid-template-columns: 146px 146px 146px 146px;
	column-gap: 160px;
	align-self: center;
}

.Shurilogofooter {
	width: 146px;
}

.Shurilogofootertext {
	margin-top: 20px;
	margin-left: 7px;
	font-size: 12px;
	font-weight: 500;
	color: #5e6282;
}
.Companycontainer {
	margin-left: -35px;
}

.Contactcontainer {
	margin-left: -95px;
}

.Companycontainer,
.Contactcontainer,
.socialscontainer {
	margin-top: 18px;
}

.companyname {
	font-size: 21px;
	font-weight: 700;
	color: rgba(48, 48, 48, 1);
	margin-bottom: 35px;
}

.companysubheadings {
	font-size: 18px;
	font-weight: 500;
	line-height: 35px;
	color: #5e6282;
}

.contactsocialsinfo {
	margin-top: 35px;
	line-height: 29px;
}

.companycontact {
	font-size: 21px;
	font-weight: 700;
	color: rgba(48, 48, 48, 1);
}

.emailtext,
.telephonenumber {
	font-size: 18px;
	font-weight: 500;
	margin-left: 10px;
	color: #5e6282;
}

.telephonenumber {
	white-space: nowrap;
}

.infocontainer {
	display: flex;
	line-height: 29px;
}

.socialscontainer {
	margin-left: -70px;
}

.companysocials {
	font-size: 21px;
	font-weight: 700;
	color: rgba(48, 48, 48, 1);
}

.socialsgrid1 {
	display: flex;
}

.socialsgrid1text {
	font-size: 18px;
	font-weight: 500;
	margin-left: 10px;
	color: #5e6282;
}

.socialsgrid1number {
	font-size: 16px;
	font-weight: 500;
	margin-left: 2px;
	color: #5e6282;
}

.socialsicon {
	margin-left: 3px;
}

.lasttext {
	font-size: 12px;
	font-weight: 500;
	position: relative;
	top: 50px;
	left: 395px;
	color: #5e6282;
	white-space: nowrap;
}
