body {
	font-family: Poppins, arial;
	margin: 0;
	width: fit-content;
	padding-bottom: 150px;
}

* {
	box-sizing: border-box;
}

.header {
	display: flex;
}

.navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 81px;
	margin-left: 160px;
	font-weight: 500;
	width: 580px;
}

a {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}

.tours {
	color: #98be1d;
}

.shurilogo {
	width: 89px;
	height: 80px;
	margin-top: 55px;
	margin-left: 150px;
}

.tourbuscontainer {
	position: relative;
	top: 30px;
	left: 110px;
	display: inline-block;
}

.tourbusboxtooltip {
	display: flex;
	position: absolute;
	top: 86px;
	left: 180px;
}

.tooltipicon {
	width: 24px;
}

.tourbusboxtext {
	margin-left: 12px;
}

.destination-text {
	position: relative;
	top: 0;
	left: 0;
	border-style: none;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 8px;
	padding: 20px 50px;
	width: 290px;
	font-size: 13px;
	font-weight: 500;
}

.destination-text:focus {
	height: 55px;
}

input[type="text"]::placeholder {
	color: rgb(255, 255, 255);
}

input:focus {
	border: 1px solid rgba(255, 255, 255, 0.027);
	outline: none;
}

.tooltipicon2 {
	position: absolute;
	top: 15px;
	left: 18px;
}

form {
	margin-left: 10px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 8px;
	width: 290px;
}

form label {
	font-size: 13px;
	color: white;
	position: absolute;
	top: 18px;
	left: 55px;
}

form select {
	position: absolute;
	top: 18px;
	left: 255px;
	border-style: none;
	background: none;
	color: rgba(204, 18, 18, 0);
	width: 10px;
	cursor: pointer;
	appearance: none;
	padding: 0 5px;
}

.select-list option {
	color: #141413;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	cursor: pointer;
	padding-top: 15px;
}

option[disabled] {
	color: rgba(89, 93, 122, 0.17);
}

form select:focus {
	outline: none;
}

option {
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.selectsvg {
	position: absolute;
	top: 21px;
	left: 255px;
	width: 15px;
}

.tooltipicon {
	position: absolute;
	top: 18px;
	left: 22px;
}

.searchbuttoncontainer {
	margin-left: 15px;
}

.greenbutton {
	background-color: #98be1d;
	color: white;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	border-style: none;
	padding: 15px 20px;
	width: 174px;
	font-family: Poppins, arial;
	cursor: pointer;
}

.tourstitlecontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	margin-left: 100px;
}

.tourstitletext1 {
	font-size: 24px;
	font-weight: 500;
	color: rgba(89, 93, 122, 1);
	margin-right: 40px;
}

.tourstitletext2 {
	font-size: 30px;
	font-weight: 700;
	color: rgba(48, 48, 48, 1);
}

.plusreversed {
	margin-top: -45px;
	margin-left: 25px;
	width: 130px;
}

.Destinationtourscontainer {
	display: grid;
	grid-template-columns: 325px 325px 325px;
	justify-content: center;
	column-gap: 20px;
	row-gap: 45px;
	margin-top: -65px;
	margin-left: 95px;
}

.Destinationgrid {
	box-shadow: 1px 10px 20px rgba(139, 139, 139, 0.118);
	border-radius: 20px;
}

.Destinationimg {
	width: 325px;
	height: 270px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.Destinationinfo {
	margin-top: 25px;
	margin-left: 28px;
	padding-right: 18px;
}

.Destinationinfo1 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.Destinationinfo1 span {
	font-size: 11px;
	font-weight: 600;
}

.Destinationinfo1a {
	display: flex;
	align-items: center;
}

.Destinationinfo1text {
	font-size: 13px;
	font-weight: 600;
	margin-left: 5px;
}

.Destinationinfo1text2 {
	font-size: 13px;
	font-weight: 700;
	margin-top: 3px;
}

.Destinationinfo2 {
	width: 220px;
	font-size: 13px;
	font-weight: 400;
	margin-top: 6px;
}

.viewdetailsbuttoncontainer {
	display: flex;
	justify-content: center;
	margin-left: px;
}

.viewdetailsbuttoncontainer > a {
	width: 100%;
}

.viewdetailsbutton {
	border-style: none;
	border: 1px solid rgb(166, 209, 24);
	background-color: white;
	border-radius: 13px;
	color: rgb(166, 209, 24);
	font-size: 16px;
	font-weight: 600;
	margin: 40px -5px;
	padding: 20px;
	width: 100%;
	transition: 1s;
}

.viewdetailsbutton:hover {
	cursor: pointer;
	background-color: rgb(166, 209, 24);
	color: white;
}

.viewdetailsbutton2 {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(166, 209, 24);
	border-radius: 13px;
	color: rgb(166, 209, 24);
	padding: 20px;
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	margin-top: 40px;
	margin-bottom: 40px;
}

.Destinationnavcontainer {
	background-color: rgba(249, 247, 254, 1);
	position: absolute;
	top: 1700px;
	left: 550px;
	width: 264px;
	height: 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 25px;
}

.Destinationnavcontainer a {
	font-size: 22px;
	color: #595d7a;
	cursor: pointer;
}

.plus {
	position: absolute;
	top: 995px;
	right: 30px;
	width: 130px;
}

.footernavcontainer a {
	font-size: 22px;
	font-weight: 600;
	color: rgba(89, 93, 122, 1);
}

.subscribeRectangle-container {
	display: inline-block;
	position: relative;
	top: 230px;
	text-align: center;
}

.subscribeRectangle-container p {
	position: absolute;
	bottom: 170px;
	left: 380px;
	font-size: 22px;
	font-weight: 600;
	color: #595d7a;
	line-height: 36px;
	inline-size: 590px;
}

.subscribeRectangle-img {
	margin-left: 180px;
	width: 1000px;
}

.input-container {
	position: relative;
	top: 15px;
}

input {
	position: absolute;
	right: 400px;
	bottom: 100px;
	font-family: Poppins, Arial;
	font-size: 14px;
	font-weight: 500;
	padding: 25px 68px;
	width: 380px;
	border-radius: 12px;
	border-style: none;
}

::placeholder {
	color: black;
}

.input-icon {
	position: absolute;
	top: -152px;
	right: 725px;
}

.input-container button {
	background-color: #98be1d;
	color: white;
	width: 160px;
	padding: 23px;
	border-radius: 12px;
	border-style: none;
	font-family: Poppins, Arial;
	font-size: 14px;
	font-weight: 500;
	position: absolute;
	top: -170px;
	right: 220px;
	cursor: pointer;
}

.circle-lines1 {
	position: absolute;
	top: 0;
	right: 5px;
}

.circle-lines2 {
	width: 200px;
	position: absolute;
	top: 164px;
	right: 800px;
}

.plusreversed2 {
	position: absolute;
	top: 150px;
	left: 15px;
}

.shuri-info-container {
	margin-top: 350px;
	margin-left: 180px;
	display: grid;
	grid-template-columns: 146px 146px 146px 146px;
	column-gap: 160px;
	align-self: center;
	position: relative;
}

.Shurilogofooter {
	width: 146px;
}

.Shurilogofootertext {
	margin-top: 20px;
	margin-left: 7px;
	font-size: 12px;
	font-weight: 500;
	color: #5e6282;
}
.Companycontainer {
	margin-left: -35px;
}

.Contactcontainer {
	margin-left: -75px;
}

.Companycontainer,
.Contactcontainer,
.socialscontainer {
	margin-top: 18px;
}

.companyname {
	font-size: 21px;
	font-weight: 700;
	color: black;
	margin-bottom: 35px;
}

.companysubheadings {
	margin-top: -13px;
	font-size: 18px;
	font-weight: 500;
	line-height: 35px;
	color: #5e6282;
}

.contactsocialsinfo {
	margin-top: 30px;
	line-height: 29px;
}

.companycontact {
	font-size: 21px;
	font-weight: 700;
	color: black;
}

.emailtext,
.telephonenumber {
	font-size: 18px;
	font-weight: 500;
	margin-left: 10px;
	color: #5e6282;
}

.telephonenumber {
	white-space: nowrap;
}

.infocontainer {
	display: flex;
	line-height: 29px;
}

.socialscontainer {
	margin-left: -70px;
}

.companysocials {
	font-size: 21px;
	font-weight: 700;
	color: black;
}

.socialsgrid1 {
	display: flex;
}

.socialsgrid1text {
	font-size: 18px;
	font-weight: 500;
	margin-left: 10px;
	color: #5e6282;
}

.socialsgrid1number {
	font-size: 16px;
	font-weight: 500;
	margin-left: 2px;
	color: #5e6282;
}

.socialsicon {
	margin-left: 3px;
}

.lasttext {
	font-size: 12px;
	font-weight: 500;
	position: absolute;
	bottom: -80px;
	left: 390px;
	color: #5e6282;
}
